body{
    background-color: #b0a4ff;
    background: linear-gradient(to bottom, #071E22, #2200ff5a);
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-family: "Bebas Neue";
    font-size: 70px;
    padding: 5px 30px 5px 30px;
    border-radius:15px;
    color: #0fff20;
    box-shadow: 5px 5px 5px 5px rgb(245,11,134);
    text-align: center;

}
 h2{
    font-family: "Bebas Neue";
    color: aliceblue;
    text-align: center;
    font-size: 35px;
 }

 .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .linkFavoritos{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background-color: #2C5364;
    padding: 3px;
    border-radius: 10px;
    width: 80px;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin: 10px;
    text-decoration: none;
 }

 .linkHome{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background-color: #2C5364;
    padding: 3px;
    border-radius: 10px;
    width: 80px;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin: 10px;
    text-decoration: none;
 }

 .seccionAlbum{
   width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: fit-content;
    border-radius: 10px;
    background-color: #1c1c1c88;
    margin: 10px;
    padding-bottom: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
 }

 .linkHomeVT{
   width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1c1c1c88;
    margin: 15px;
    padding-bottom: 10px;
    align-items: flex-end;
   
 }